<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee Mmgt</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/emp/home/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emp/add-emp/">Add Employee</a>
          </li>
         
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More Features
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">View Employee</a></li>
              <li><a class="dropdown-item" href="#">About</a></li>
              <li><a class="dropdown-item" href="#">Follow</a></li>
            </ul>
            <li class="nav-item">
              <a class="nav-link" href="/emp/testimonials/">Testimonials</a>
            </li>
          </li>
        </ul>
        
      
        </nav>
    </div>
  </nav>
