<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Website</title>
</head>
    <body>
        <div class="container" style="text-align:center">

            {% include 'navbar.html' %}

            <h1>This is our official website</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia placeat, eum minus deserunt voluptas vero doloremque eveniet quasi a cumque sunt at hic vitae? Temporibus, at laudantium. Dolor obcaecati autem, reprehenderit dignissimos aperiam voluptatibus veritatis incidunt nihil ea iure quis animi nulla molestiae sequi. Illum quasi velit perferendis eligendi nostrum.</p>

            <button>Contact Us</button>
                
        </div>
    
    </body>
</html>