<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
    <body>
        <div class="container" style="text-align:center">
            
            {% include 'navbar.html' %}

            <h1>Welcome to the home page of our website</h1>

            <form action="/index/" method="POST">
                {% csrf_token %}
                <input type="text" name="check">
                <button>Send</button>
            </form>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia placeat, eum minus deserunt voluptas vero doloremque eveniet quasi a cumque sunt at hic vitae? Temporibus, at laudantium. Dolor obcaecati autem, reprehenderit dignissimos aperiam voluptatibus veritatis incidunt nihil ea iure quis animi nulla molestiae sequi. Illum quasi velit perferendis eligendi nostrum.</p>

            <button>Contact Us</button>
             

            {% if isActive %}
            <div>
                <!-- accessing dynamic data -->
            <h1>Today's date and time is {{date}}</h1>
            <hr>
            </div>
            {% endif %}
        </div>
    
    </body>
</html>